<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <title>WebChat v0.1a</title>

        <link rel="stylesheet" href="./assets/css/style.css">
    </head>
    <body>
        <div id="app">
            <div class="wrapper">
                <h2>WebChat</h2>
                <div v-if="msgList.length" class="chatbox">
                    <div v-for="msg in msgList" class="msg">
                        <span class="timestamp">{{ msg.timestamp }}</span>
                        <span class="user">{{ msg.user }}</span>
                        <span class="text">{{ msg.text }}</span>
                    </div>
                </div>
                <div v-else>No messages</div>
                <input class="input" type="text" v-model="input.msgText" v-on:keyup.enter="sendMessage" />
            </div>
        </div>

        <script src="https://unpkg.com/vue@next"></script>
        <script src="assets/js/core.js"></script>
    </body>
</html>